*{
    margin: 0;
}
    header{
    background-color: #F5F5DC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 0;
    right: 0;
    position: fixed;

}
.nav-list{
    text-decoration: none;
    margin: 0 25px;
}

.container > img{
    width: 100%;
    height: 100vh;
}
#content-img{
    border-radius: 40px 0 40px 0;
    margin-right: 200px;
}
.detail-1{
    display: flex;
    width: auto;
    justify-content: center;
    margin-top: 100px;
    padding: 0 170px 0 170px;
    gap: 20px;
}
.detail-2{
    display: flex;
    width: auto;
    justify-content: center;
    margin-top: 100px;
    padding: 0 170px 0 170px;
    gap: 20px;
    flex-direction: row;
}
footer{
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    height: 313px;
    background-color:#565647;
}
.kontak {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}